body {
  margin: 0;
  overflow-x: hidden!important;
  /* background-color: rgb(39, 39, 39); */
  /* background-color: #5D5C61; */
  /* background-color: #403c44; */
  background-color: #596870;




  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Cardo', serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  /* margin-top: 2vh; */
  margin-bottom: 2vh;
  user-select: none;

}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  /* background-color: #2196F3; */
  background-color: #36485f;

}

input:focus + .slider {
  /* box-shadow: 0 0 1px #2196F3; */
  /* background-color: #263d5c; */
  outline: none;
  box-shadow: none;

}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.shake{
  animation: shake .2s infinite;
  color: rgb(88, 0, 0);
}

#correct{
  color: rgb(0, 87, 0);
}

#test{
  color: #36485f;
}

@keyframes shake {
  0% { margin-left: 0rem; }
  25% { margin-left: 0.3rem; }
  75% { margin-left: -0.3rem; }
  100% { margin-left: 0rem; }
}

img {
  margin-bottom: 5vh;
}

.pushy__btn {
  -webkit-font-smoothing: antialiased;
justify-content: center;
text-align: center;
align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'Cardo', serif;
height: auto;
  text-decoration: none;  
  text-transform: uppercase;
letter-spacing: 1px;
  text-rendering: optimizeLegibility;
  display: inline-block;
  border: none;
  /* background: rgb(37, 38, 51); */
background-color: #36485f;
  border-radius: .3em;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 -0.25em 0 rgba(0, 0, 0, 0.25), 0 0.25em 0.25em rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 -0.25em 0 rgba(0, 0, 0, 0.25), 0 0.25em 0.25em rgba(0, 0, 0, 0.05);
  color: rgb(37, 38, 51);
  cursor: pointer;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto, Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  line-height: 1.5;
  padding: .5em 1.5em .75em;
  position: relative;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .pushy__btn:active {
    -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 2px 0 rgba(255, 255, 255, 0.1), inset 0 0.25em 0.5em rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 2px 0 rgba(255, 255, 255, 0.1), inset 0 0.25em 0.5em rgba(0, 0, 0, 0.05);
    margin-top: .25em;
    padding-bottom: .5em; 
  }
    
  .pushy__btn:active, .pushy__btn:focus {
    outline: none; 
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
  }
  .pushy__btn--blue {
    background-color: #1199EE; }
  .pushy__btn--green {
    background-color: #10ac84; }
  .pushy__btn--red {
    background-color: #EE4444; }
  .pushy__btn--lg {
    font-size: 1.5em; }
  .pushy__btn--df {
    font-size: 1.25em; }
  .pushy__btn--md {
    font-size: 1em; }
  .pushy__btn--sm {
    font-size: 0.75em; }